{% extends "main_loggedin.html" %}
{% load static %}
{% load sorethumb %}
{% block receipts %}

    <div class="container">
        {% if message and type_message %}
            <h2 class="{{ type_message }}-message">{{ message }}</h2>
        {% endif %}
        <div class="edit">
            <form method="post" enctype="multipart/form-data" id="edit_form" class="form-inline">{% csrf_token %}
                <div class="form_section  col-lg-12">
                    <div class="txt_input" style="">
                        <p><label>Nazwa produktu: </label>{{ item_form.name }}<i class="glyphicon glyphicon-font form-control-feedback"></i></p>
                        <p><label>Koniec gwarancji: </label>{{ item_form.warranty }}<i class="glyphicon glyphicon-calendar form-control-feedback"></i></p>
                        <p><label>Kategoria: </label>{{ item_form.category }}<i class="glyphicon glyphicon-list-alt form-control-feedback"></i></p>

                    </div>
                </div>

                <div class="form_section  col-lg-12">
                    {% if item_form.img_item.value %}
                        <img src="{{ item_form.img_item.value|sorethumb:"item_thumb" }}">
                        <div class="new_img_input">
                            <h4>Zdjęcie produktu:</h4>
                            <p><a class="btn btn-primary" target="_blank" href="{{ item_form.img_item.value.url }}">Otwórz zdjęcie w pełnym rozmiarze</a></p>
                            <p><a class="btn btn-danger" href="/accounts/loggedin/delete_image/{{ item_id }}/img_item/">Usuń zdjęcie</a></p>
                            <label>Zamień na inne zdjęcie:</label>
                            <input id="id_img_item" name="img_item" type="file">
                        </div>

                    {% else %}
                        <div class="txt_input">
                            <p><label>Zdjęcie produktu:</label>
                            <input id="id_img_item" name="img_item" type="file"></p>
                        </div>
                    {% endif %}
                </div>

                <div class="form_section  col-lg-12">
                    {% if item_form.img_receipt.value %}
                        <img src="{{ item_form.img_receipt.value|sorethumb:"item_thumb" }}">
                        <div class="new_img_input">
                            <h4>Zdjęcie paragonu:</h4>
                            <p><a class="btn btn-primary" target="_blank"  href="{{ item_form.img_receipt.value.url }}">Otwórz zdjęcie w pełnym rozmiarze</a></p>
                            <p><a class="btn btn-danger" href="/accounts/loggedin/delete_image/{{ item_id }}/img_receipt/">Usuń zdjęcie</a></p>
                            <label>Zamień na inne zdjęcie:</label>
                            <input id="id_img_receipt" name="img_receipt" type="file">
                        </div>
                    {% else %}
                        <div class="txt_input">
                            <p>
                            <label>Zdjęcie paragonu:</label>
                            <input id="id_img_receipt" name="img_receipt" type="file"></p>
                        </div>
                    {% endif %}
                </div>

                <div class="col-lg-12">
                    <div class="save_delete">
                        <input type="submit" value="Zapisz" class="btn btn-success">
                        <a href="/accounts/loggedin/delete_item/{{ item_id }}/" class="btn btn-danger">Usuń produkt</a>
                    </div>
                </div>
                <a href="/accounts/loggedin/" class="btn btn-primary back_link">Powrót do wszystkich przedmiotów</a>
            </form>
        </div>
    </div>


    <script>
        $(function() {
            $( "#id_warranty" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
            $( "#id_warranty" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
            $( "#id_warranty" ).datepicker( $.datepicker.regional[ "pl" ] );

            $("#edit_form").validate();
        });
    </script>

{% endblock %}


