{% extends "main_loggedin.html" %}
{% load static %}
{% load sorethumb %}
{% block receipts %}

    {% if user.is_authenticated %}

        <div class="sort_options">
            <nav class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.8px;">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link sort-txt">sortuj</a></li>
                        <li class="nav-item"><a class="nav-link" href="/accounts/loggedin/">najnowsze</a></li>
                        <li class="nav-item"><a class="nav-link" href="/accounts/loggedin/?sort=old">najstarsze</a></li>
                        <li class="nav-item"><a class="nav-link" href="/accounts/loggedin/?sort=warranty">koniec gwarancji</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/accounts/loggedin/settings/">ustawienia</a></li>
                        <li><a href="/accounts/logout/">wyloguj</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <div id="item_grid">
            <div class="box">
                <a href="add_item/">
                    <div class="new-item">
                        <img src="{% static 'img/plus.png' %}">
                    </div>
                    <div class="box_content">
                        <p>Dodaj nowy produkt</p>
                    </div>
                </a>
            </div>

            {% for item in items %}
                <a href="edit/{{ item.id }}/">
                    <div class="box">
                        {% if item.img_item %}
                            <img src="{{ item.img_item|sorethumb:"item_thumb" }}">
                        {% else %}
                            <img src="{% static 'img/category_icon/' %}{{ item.category }}.jpg">
                        {% endif %}

                        <div class="box_content">
                            <p>{{ item.name }}</p>
                            <hr>
                            <p>Koniec gwarancji: {{ item.warranty | date:"d.m.Y" }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>


        <script src="{% static 'js/jquery.waterfall.js' %}"></script>
        <script>
            $("#item_grid").waterfall({
                itemClass: ".box",
                minColCount: 1,
                spacingHeight: 14,
                spacingWidth: 14,
                resizeable: true,
            });


            var ml = ($(window).width() % 234) / 2;
            var mr = ml + 14;
            $('.sort_options').css({
                "margin-left": ml,
                "margin-right": mr
            });

            window.onresize = function() {
                var ml = ($(window).width() % 234) / 2;
                var mr = ml + 14;
                $('.sort_options').css({
                    "margin-left": ml,
                    "margin-right": mr
                 });
            };
        </script>

    {% else %}
        <h3 class="negative-message">Dostęp tylko dla zalogowanych użytkowników, <a href="/accounts/login/">zaloguj się</a></h3>
    {% endif %}

{% endblock %}
