{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="screen">
    <script type='text/javascript' src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.validate.js' %}"></script>

    <!-- jquery UI - Datepicker -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker-pl.js' %}"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="screen">
</head>
<body>

    <header>
        <div class="row loggedin_logo">
            <a href="/accounts/loggedin/">
                <img src="{% static 'img/receipt.png' %}">
                <span>paragonik</span>
            </a>
        </div>
    </header>


    {% block receipts %}
    {% endblock %}


</body>
</html>