@media(max-width: 767px){
    .sort_options a {
      margin-right: 0;

    }
    .sort_options .navbar-right a{
      margin-left: 0;
    }
    .sort_options .navbar-right{
        border-top: 1px solid #cbcbcb;
    }
}

@media(max-width: 550px){
    header #logo{
        display: block;
        margin: 0 auto;
        float: unset;
    }
    header #login_button{
        text-align: center;
    }
    header .btn {
        float: unset;
    }
    header .btn:first-child{
        margin-left: 0px;
    }
}

@media(max-width: 600px){
    #description {
        padding: 1rem 1rem 2rem 1rem;
    }
    #description h3 {
      font-size: 1.8rem;
    }
    #description h5 {
      font-size: 1.2rem;
    }
}

