/******************* LESS *******************/
@webcolor: #324177;
@grey: #dedede;


/******************* Ogólne *******************/
@font-face {
    font-family: 'Lato';
    src: url('LatoLatin/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
    src: url('LatoLatin/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LatoLatin/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
         url('LatoLatin/LatoLatinLight-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: @grey;
}
a:hover {
  text-decoration: none;
}
.positive-message {
  color: green;
  border: 1px solid green;
  padding: 20px 0;
  text-align: center;
}
.negative-message {
  color: red;
  border: 1px solid red;
  padding: 20px 0;
  text-align: center;
}
.error {
  color: red;
  width: unset!important;
}



/******************* Nagłówek *******************/
header {
  padding: 2rem 1rem;
  background-color: @grey;

  #logo {
    width: 240px;
    float: left;
    height: 60px;
  }
  .login_button {
    float: right;
    width: 240px;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 60px;
    height: 60px;
    margin-right: 10px;vertical-align:bottom
  }
  span {
    vertical-align:bottom;
    font-size: 32px;
    color: #222222;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .btn {
    float: right;
    background-color: @grey;
    border-color: @webcolor;
    margin-left: 20px;
    color: @webcolor;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
      background-color: @webcolor;
      border-color: @webcolor;
      color: @grey;
      -webkit-animation: pulse .5s;
      animation: pulse .5s;
    }
  }
}



/******************* Zajawka *******************/
#description {
  padding: 3rem 0 4rem 0;
  background-color: @webcolor;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #272727;

  h3 {
    color: #ffffff;
    font-size: 3rem;
  }
  h5 {
    color: #f5f5f5;
    font-size: 1.8rem;
  }
}



/******************* Slider *******************/
.carousel .item {
  width: 100%;

  img {
    width: 100%;
  }
}
.carousel-indicators li {
  border-color: #000000;
}
.carousel-indicators .active {
  background-color: #000000;
}



/******************* Stopka *******************/
#footer {
  padding: 3.6rem 0 3rem 0;
  line-height: 3rem;
  background-color: @grey;

  p {
    font-size: 1.6rem;
    float: left;
  }
  span {
    font-size: 3rem;
    margin-right: 0.5rem;
    float: left;
  }
}



/******************* Logowanie *******************/
.center_form{
  margin: auto;
  padding: 2rem 3rem;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  max-width: 350px;
}
.login_form{
  text-align: left;
  margin: 0 auto;

  h2{
    text-align: center;
    margin-bottom: 40px;
  }
  .form-control{
    width: 100%!important;
  }
  form .btn{
    margin: 30px auto 0 auto;
    width: 120px;
    display: block;
    background-color: @webcolor;
    color: @grey;
  }
}
.form_hr{
    margin-top: 50px;
    margin-bottom: 0;
    border-top: 1px solid #cacaca;
}



/******************* Zalogowany użytkownik *******************/
.loggedin_logo {
  width: 240px;
  margin: 0 auto;
}
.sort_options {
  margin-top: 20px;

  a {
    margin-right: 20px;
    text-align: center;
    margin-bottom: 12px;
  }
  .navbar-right a {
    margin-right: 0px;
    margin-left: 20px;
  }
  .sort-txt {
    color: black;
  }

  /* nadpisanie styli bootstrap */
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar {
    min-height: unset;
    margin-bottom: unset;
  }
  @media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
      margin-right: unset;
    }
  }
  .navbar-toggle .icon-bar {
   background-color: #888;
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
  }
}
.sort_options .nav > li > a,
.sort_options .nav > li > a:hover,
.sort_options .nav > li > a:focus {
  background-color: unset;
  padding: 0;
}
.sort_options_right {
  float: right;
}
#item_grid {
  margin: 0 auto 50px auto;
  position: relative;
  background-color: @grey;
}
.new-item {
  width: 220px;
}
.box {
  float: left;
  width: 220px;

  img {
    width: 220px;
    border-radius: 8px 8px 0 0;

    &:hover {
      filter: brightness(94%);
      -webkit-filter: brightness(94%);
      -moz-filter: brightness(94%);
      -o-filter: brightness(94%);
    }
  }
  .new-item {
    background-color: @webcolor;
    color: #ffffff;
    text-align: center;
    height: 220px;
    line-height: 220px;
    font-size: 50px;

    img {
      width: auto;

      &:hover {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
      }
    }
    &:hover {
      filter: brightness(94%);
      -webkit-filter: brightness(94%);
      -moz-filter: brightness(94%);
      -o-filter: brightness(94%);
    }
  }
  .box_content {
    background-color: #ffffff;
    width: 220px;
    border-radius: 0 0 8px 8px;

    p {
      padding: 8px 10px;
      margin: 0;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      color: #6c6c6c;
    }
    p:nth-child(3) {
      font-size: 1.2rem;
      color: #a1a1a1;
    }
    hr {
      margin: 0;
    }
  }
}



/******************* Formularze  *******************/
.edit {
  margin: auto;
  padding: 4rem 3rem;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  width: 640px;

  .form_section {
    margin-bottom: 30px;
    border: 1px solid #c5c5c5;
    padding: 10px 0;
  }
  .txt_input {
    text-align: center;
    margin: 0 15px;

    label {
      width: 130px;
      text-align: right;
      margin-right: 10px;
      display: inline-block;
    }
    input {
      display: inline-block;
      width: 300px;
    }
    select {
      display: inline-block;
      width: 300px;
    }
  }
  .new_img_input {
    h4{
      font-weight: bold;
    }
    label {
        display: block;
    }
    p {
      margin-bottom: 20px;
    }
  }
  hr {
    margin: 25px 0 15px 0;
  }
  img {
    width: 220px;
    margin-right: 10px;
  }
  .save_delete {
    margin: 30px auto 0 auto;
    max-width: 450px;
    overflow: hidden;

    input {
      float: left;
      width: 120px;
    }
    a {
      float: right;
      width: 120px;
    }
  }
  .back_link {
    margin-top: 40px;
  }
  .glyphicon {
  margin-left: 10px;
  }
}
.edit .new_img_input, .edit img, .edit a {
  display: inline-block;
  vertical-align: middle;
}
.category_input {
  padding-left: 19px;
  padding-right: 19px;
}
.change_pass_label {
  width: 146px!important;
}
.change_pass_save input {
  width: 140px!important;
}
.delete_account input {
  width: unset!important;
}
