/******************* LESS *******************/
/******************* Ogólne *******************/
@font-face {
  font-family: 'Lato';
  src: url('LatoLatin/LatoLatinLight-Regular.eot');
  src: url('LatoLatin/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('LatoLatin/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */ url('LatoLatin/LatoLatinLight-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  
  /* IE9 Compat Modes */
}
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: #dedede;
}
a:hover {
  text-decoration: none;
}
.positive-message {
  color: green;
  border: 1px solid green;
  padding: 20px 0;
  text-align: center;
}
.negative-message {
  color: red;
  border: 1px solid red;
  padding: 20px 0;
  text-align: center;
}
.error {
  color: red;
  width: unset!important;
}
/******************* Nagłówek *******************/
header {
  padding: 2rem 1rem;
  background-color: #dedede;
}
header #logo {
  width: 240px;
  float: left;
  height: 60px;
}
header .login_button {
  float: right;
  width: 240px;
}
header a {
  text-decoration: none;
}
header img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  vertical-align: bottom;
}
header span {
  vertical-align: bottom;
  font-size: 32px;
  color: #222222;
  letter-spacing: 3px;
  font-weight: 600;
}
header .btn {
  float: right;
  background-color: #dedede;
  border-color: #324177;
  margin-left: 20px;
  color: #324177;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
header .btn:hover {
  background-color: #324177;
  border-color: #324177;
  color: #dedede;
  -webkit-animation: pulse .5s;
  animation: pulse .5s;
}
/******************* Zajawka *******************/
#description {
  padding: 3rem 0 4rem 0;
  background-color: #324177;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #272727;
}
#description h3 {
  color: #ffffff;
  font-size: 3rem;
}
#description h5 {
  color: #f5f5f5;
  font-size: 1.8rem;
}
/******************* Slider *******************/
.carousel .item {
  width: 100%;
}
.carousel .item img {
  width: 100%;
}
.carousel-indicators li {
  border-color: #000000;
}
.carousel-indicators .active {
  background-color: #000000;
}
/******************* Stopka *******************/
#footer {
  padding: 3.6rem 0 3rem 0;
  line-height: 3rem;
  background-color: #dedede;
}
#footer p {
  font-size: 1.6rem;
  float: left;
}
#footer span {
  font-size: 3rem;
  margin-right: 0.5rem;
  float: left;
}
/******************* Logowanie *******************/
.center_form {
  margin: auto;
  padding: 2rem 3rem;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  max-width: 350px;
}
.login_form {
  text-align: left;
  margin: 0 auto;
}
.login_form h2 {
  text-align: center;
  margin-bottom: 40px;
}
.login_form .form-control {
  width: 100%!important;
}
.login_form form .btn {
  margin: 30px auto 0 auto;
  width: 120px;
  display: block;
  background-color: #324177;
  color: #dedede;
}
.form_hr {
  margin-top: 50px;
  margin-bottom: 0;
  border-top: 1px solid #cacaca;
}
/******************* Zalogowany użytkownik *******************/
.loggedin_logo {
  width: 240px;
  margin: 0 auto;
}
.sort_options {
  margin-top: 20px;
  /* nadpisanie styli bootstrap */
}
.sort_options a {
  margin-right: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.sort_options .navbar-right a {
  margin-right: 0px;
  margin-left: 20px;
}
.sort_options .sort-txt {
  color: black;
}
.sort_options .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}
.sort_options .navbar-nav {
  margin-left: 0px;
  margin-right: 0px;
}
.sort_options .navbar {
  min-height: unset;
  margin-bottom: unset;
}
@media (min-width: 768px) {
  .sort_options .navbar-nav.navbar-right:last-child {
    margin-right: unset;
  }
}
.sort_options .navbar-toggle .icon-bar {
  background-color: #888;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.sort_options .nav > li > a,
.sort_options .nav > li > a:hover,
.sort_options .nav > li > a:focus {
  background-color: unset;
  padding: 0;
}
.sort_options_right {
  float: right;
}
#item_grid {
  margin: 0 auto 50px auto;
  position: relative;
  background-color: #dedede;
}
.new-item {
  width: 220px;
}
.box {
  float: left;
  width: 220px;
}
.box img {
  width: 220px;
  border-radius: 8px 8px 0 0;
}
.box img:hover {
  filter: brightness(94%);
  -webkit-filter: brightness(94%);
  -moz-filter: brightness(94%);
  -o-filter: brightness(94%);
}
.box .new-item {
  background-color: #324177;
  color: #ffffff;
  text-align: center;
  height: 220px;
  line-height: 220px;
  font-size: 50px;
}
.box .new-item img {
  width: auto;
}
.box .new-item img:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}
.box .new-item:hover {
  filter: brightness(94%);
  -webkit-filter: brightness(94%);
  -moz-filter: brightness(94%);
  -o-filter: brightness(94%);
}
.box .box_content {
  background-color: #ffffff;
  width: 220px;
  border-radius: 0 0 8px 8px;
}
.box .box_content p {
  padding: 8px 10px;
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #6c6c6c;
}
.box .box_content p:nth-child(3) {
  font-size: 1.2rem;
  color: #a1a1a1;
}
.box .box_content hr {
  margin: 0;
}
/******************* Formularze  *******************/
.edit {
  margin: auto;
  padding: 4rem 3rem;
  overflow: hidden;
  text-align: center;
  letter-spacing: 1px;
  width: 640px;
}
.edit .form_section {
  margin-bottom: 30px;
  border: 1px solid #c5c5c5;
  padding: 10px 0;
}
.edit .txt_input {
  text-align: center;
  margin: 0 15px;
}
.edit .txt_input label {
  width: 130px;
  text-align: right;
  margin-right: 10px;
  display: inline-block;
}
.edit .txt_input input {
  display: inline-block;
  width: 300px;
}
.edit .txt_input select {
  display: inline-block;
  width: 300px;
}
.edit .new_img_input h4 {
  font-weight: bold;
}
.edit .new_img_input label {
  display: block;
}
.edit .new_img_input p {
  margin-bottom: 20px;
}
.edit hr {
  margin: 25px 0 15px 0;
}
.edit img {
  width: 220px;
  margin-right: 10px;
}
.edit .save_delete {
  margin: 30px auto 0 auto;
  max-width: 450px;
  overflow: hidden;
}
.edit .save_delete input {
  float: left;
  width: 120px;
}
.edit .save_delete a {
  float: right;
  width: 120px;
}
.edit .back_link {
  margin-top: 40px;
}
.edit .glyphicon {
  margin-left: 10px;
}
.edit .new_img_input,
.edit img,
.edit a {
  display: inline-block;
  vertical-align: middle;
}
.category_input {
  padding-left: 19px;
  padding-right: 19px;
}
.change_pass_label {
  width: 146px!important;
}
.change_pass_save input {
  width: 140px!important;
}
.delete_account input {
  width: unset!important;
}
