{% extends "main.html" %}
{% block content %}

    <div class="container">
        <div class="center_form">
            {% if message and type_message %}
                <h2 class="{{ type_message }}-message">{{ message }}</h2>
            {% endif %}
            <div class="login_form">
                <h2>Rejestracja:</h2>
                <form action="/accounts/create_user/" method="post" class="form-inline">{% csrf_token %}
                    <p>
                        <label for="username">Użytkownik: </label>
                        <input id="username" maxlength="30" name="username" type="text" class="form-control">
                    </p>
                    <p>
                        <label for="password1">Hasło: </label>
                        <input id="password1" name="password1" type="password" class="form-control">
                    </p>
                    <p>
                        <label for="password2">Potwierdź hasło: </label>
                        <input id="password2" name="password2" type="password" class="form-control">
                    </p>
                    <input type="submit" class="btn btn-default" value="Zarejestruj">
                </form>
            </div>
        </div>
    </div>
    <hr class="form_hr">

{% endblock %}

