{% extends "main.html" %}
{% load static %}
{% block content %}

    <div id="slider" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
        <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class="active"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/mobile.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static 'img/notebook.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="item">
                <img src="{% static 'img/screen.jpg' %}" alt="" class="img-responsive">
            </div>
        </div>
    </div>

{% endblock %}

