{% extends "main.html" %}
{% block content %}

    <div class="container">
        {% if message and type_message %}
            <h2 class="{{ type_message }}-message">{{ message }}</h2>
        {% endif %}
        <div class="center_form">
            <div class="login_form">
                <h2>Logowanie:</h2>
                <form action="/accounts/auth/" method="post" class="form-inline">{% csrf_token %}
                    <p>
                        <label for="username">Użytkownik:</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </p>
                    <p>
                        <label for="password">Hasło:</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </p>
                    <input type="submit" class="btn btn-default" value="Zaloguj">
                </form>
            </div>
        </div>
    </div>
    <hr class="form_hr">

{% endblock %}