{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Paragonik</title>
    <meta name="description" content="Przechowuj swoje paragony w jednym miejscu.">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="screen">
</head>
<body>
    <header>
        <div class="container">
            <divl id="logo">
                <a href="/">
                    <img src="{% static 'img/receipt.png' %}">
                    <span>paragonik</span>
                </a>
            </divl>
            <div id="login_button">
                <a class="btn btn-default" href="/accounts/create_user/" role="button">Rejestracja</a>
                <a class="btn btn-default" href="/accounts/login/" role="button">Logowanie</a>
            </div>
        </div>
    </header>

    <div id="description">
        <div class="container">
            <h3>Zarejestruj się i przechowuj dokumenty zakupu w jednym miejscu.</h3>
            <h5>Z aplikacją paragonik szybko sprwadzisz czy twoje produkty nadal są objęte gwarancją.</h5>
        </div>
    </div>


    {% block content %}
    {% endblock %}


    <div id="footer">
        <div class="container">
            <span class="glyphicon glyphicon-envelope"></span><p>radziejewskikamil@gmail.com</p>
        </div>
    </div>

    <script type='text/javascript' src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>