{% extends "main_loggedin.html" %}
{% block receipts %}

    <div class="container">
        {% if message and type_message %}
            <h2 class="{{ type_message }}-message">{{ message }}</h2>
        {% endif %}
        <div class="edit">
            <form action="/accounts/loggedin/settings/" method="post" class="form-inline">{% csrf_token %}
                <div class="form_section  col-lg-12">
                    <div class="txt_input">
                        <h2>Zmiana hasła:</h2><br>
                        <p>
                            <label for="password1" class="change_pass_label">Nowe hasło: </label>
                            <input type="password" name="password1" id="password1" class="form-control">
                        </p>
                        <p>
                            <label for="password2" class="change_pass_label">Powtórz nowe haslo: </label>
                            <input type="password" name="password2" id="password2" class="form-control">
                        </p>
                        <div class="change_pass_save">
                            <input type="submit" value="Zmień hasło" class="btn btn-success">
                        </div><br>
                    </div>
                </div>
            </form>

            <form action="/accounts/loggedin/delete_account/" method="post" class="form-inline">{% csrf_token %}
                <div class="form_section  col-lg-12">
                    <div class="txt_input delete_account">
                        <p><input type="checkbox" name="check" value="delete" id="check">
                            Chcę bezpowrotnie usunąć konto</p>
                        <input type="submit" value="Usuń konto" class="btn btn-danger">
                   </div>
                </div>
            </form>
            <a href="/accounts/loggedin/" class="btn btn-primary back_link">Powrót do wszystkich przedmiotów</a>
        </div>
    </div>

{% endblock %}